body{
 margin : 0;
 padding :0;
 line-height: 0.5;
background: linear-gradient(to left ,#00d9,#00d565); 

}

.calci{
  
    width: 500px;
    padding-top: auto;
    padding-bottom :10px;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%,50%);
    transition: 0.25px;
   
    text-align: center;

}

#display{

    border: none;
    background-color: white;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid white;
    color: black;

}


.btnDesign{
    width: 55;
    height: 55;
    padding-top:-1 ;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 30px;
    margin: 1.5;

}

.operatorDesign{

    width: 55;
    height: 55;
    padding-top:-1 ;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;
}
.operatorDesign:hover {
background :#00d9ff;


}

#zero{

    width: 116;
    height: 55;
    padding-top:-1;
    font-size: 20;
    font-family: sans-serif;
font-weight: 300;
border: none;
border-radius: 30px;
margin: 1.5;
transition: 0.25px;
cursor: pointer;

}
h1{ 
color: whitesmoke;
margin-top: 500px;
margin-left: 100px;
text-transform: uppercase;
font-family: sans-serif;
font-weight: 700px;
font-size: 50;
text-decoration: underline;
text-decoration-color: black;
top: 20%;


}
h2{
color: whitesmoke;
margin-top: -1px;
margin-left: 400px;

font-size: 45;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500px;




}

